# NPM dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

# Bower modules
http/bower_components

# Rust output
target
Cargo.lock

config.json
*.crt
*.key
