# NPM dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
*.pkgd.js
*.min.js
http/node_modules
http/*.pkgd.js
http/*.min.js

# Rust output
target

config.json
*.crt
*.key
